.devcontainer/
.github/
.vscode/
.vscode-test/
# include languages/
node_modules/
out/src/
out/tests/
out/main.js.map
# include out/main.js
resources/images/screencast.gif
# include resources/
src/
tests/
# include tools/
.eslintignore
.eslintrc.json
.gitignore
.sonarcloud.properties
# include CHANGELOG.md
CONTRIBUTING.md
esbuild.js
# include LICENSE.md
# include package-lock.json package.json
# include README.md
tsconfig.json
version
