body {
    padding-bottom: 1em;
}

section:not(:first-child) {
    margin-top: 0.5em;
    border-top: solid 1px var(--vscode-panel-border);
}

h1 {
    font-size: larger;
    margin: 0.6em 0 0.4em 0;
}

td:not(:first-child) {
    padding-left: 0.75em;
}

thead {
    opacity: 0.5;
}

.state-R {
    color: var(--vscode-editor-foreground);
}

.vscode-light .state-X {
    color: #c60;
}

.vscode-dark .state-X {
    color: #f93;
}

.vscode-high-contrast .state-X {
    color: #fa6;
}

.vscode-light .state-S {
    color: #393;
}

.vscode-dark .state-S {
    color: #6c6;
}

.vscode-high-contrast .state-S {
    color: #3f3;
}

.state-E {
    color: var(--vscode-errorForeground);
}

.check-status-details {
    display: inline-block;
}

.check-status-details::before {
    content: ':';
    margin-right: 1em;
}

.section-block {
    display: inline-block;
    padding-right: 0;
}

.section-block:not(:last-child) {
    margin-right: 1.5em;
}

.states-stat {
    min-width: 23em;
}

.coverage-stat {
    min-width: 15em;
}

.val-col {
    text-align: right;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.error:not(:first-child) {
    padding-top: 0.5em;
}

.error-line {
    padding: 0;
    margin: 0;
}

.error-trace-item-block {
    margin-top: 0.5em;
}

.error-trace-item-title {
    font-weight: bold;
    background-color: var(--vscode-editor-lineHighlightBackground);
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
}

.error-trace-var-value-block:after {
    content: "";
    display: table;
    clear: both;
}

.var-name {
    display: inline-block;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.var-size {
    display: inline-block;
    margin-left: 0.3em;
    opacity: 0.5;
}

.var-value {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.change-marker {
    margin-left: 0.3em;
}

.change-marker-A {
    color: var(--vscode-gitDecoration-addedResourceForeground);
}

.change-marker-M {
    color: var(--vscode-gitDecoration-modifiedResourceForeground);
}

.change-marker-D {
    color: var(--vscode-gitDecoration-deletedResourceForeground);
}

.value-deleted {
    opacity: 0.6;
    text-decoration: line-through;
}

.tree-nodes {
    list-style-type: none;
    padding-inline-start: 1em;
}

.tree-node::before {
    content: '';
    font-size: smaller;
    display: inline-block;
    width: 1.3em;
}

.tree-expandable {
    cursor: pointer;
    user-select: none;
}

.tree-expandable::before {
    content: "\25B6";
    opacity: 0.5;
}

.tree-expandable-down::before {
    transform: translate(-0.2em, 0.2em) rotate(90deg);
}

.tree-top-level {
    margin: 0;
    padding: 0;
    display: block;
}

#output-lines {
    font-family: 'Courier New', Courier, monospace;
    max-height: 500px;
    overflow: scroll;
    scroll-behavior: auto;
}

.output-line {
    margin: 0;
}

.output-line-count {
    display: inline-block;
    margin-left: 1em;
    opacity: 0.5;
}

.output-line-count::before {
    content: '(';
}

.output-line-count::after {
    content: ')';
}
