.comment {
    opacity: 0.7;
}

.role-other {
    color: #8b9eaa;
}

.prover-list {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 10px;
}

.obl-text {
    margin-left: 10px;
    padding-left: 2px;
    border-left: 1px solid #ffffff10;
}
