body {
    padding-bottom: 1em;
}

section:not(:first-child) {
    margin-top: 0.5em;
    border-top: solid 1px var(--vscode-panel-border);
}

h1 {
    font-size: larger;
    margin: 0.6em 0 0.4em 0;
}

td:not(:first-child) {
    padding-left: 0.75em;
}

thead {
    opacity: 0.5;
}

.state-R {
    color: #39f;
}

.state-S {
    color: #093;
}

.state-E {
    color: var(--vscode-errorForeground);
}

.section-block {
    display: inline-block;
    padding-right: 0;
}

.section-block:not(:last-child) {
    margin-right: 1.5em;
}

.states-stat {
    min-width: 23em;
}

.coverage-stat {
    min-width: 15em;
}

.val-col {
    text-align: right;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.error:not(:first-child) {
    padding-top: 0.5em;
}

.error-line {
    padding: 0;
    margin: 0;
}

.error-trace-table {
    width: 100%;
}

.error-trace-name {
    width: 10%;
}

.error-trace-value {
    width: 90%;
}

.error-trace-item-title {
    font-weight: bold;
}

.var-name {
    padding-right: 2em;
    white-space: nowrap;
}

.var-size {
    opacity: 0.5;
}

.var-name-prefix {
    display: inline-block;
    width: 20px;
}

.var-collection-collapsed {
    color: red;
    cursor: pointer;
}

.var-collection-expanded {
    color: green;
    cursor: pointer;
}

.var-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}
