.header-title {
    display: flex;
    align-items: center;
}

.header-title h1 {
    display: inline-block;
    margin: 0.5em auto 0.5em 0em;
}

.spec-line {
    margin-top: 1em;
}

.checking-state {
    margin-top: 1em;
}

.state-R {
    color: var(--vscode-editor-foreground);
}

.vscode-light .state-X {
    color: #c60;
}

.vscode-dark .state-X {
    color: #f93;
}

.vscode-high-contrast .state-X {
    color: #fa6;
}

.vscode-light .state-S {
    color: #393;
}

.vscode-dark .state-S {
    color: #6c6;
}

.vscode-high-contrast .state-S {
    color: #3f3;
}

.state-E {
    color: var(--vscode-errorForeground);
}

.timeInfo {
    margin-top: 1em;
}
