name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '18.19'
    - name: Install dependencies
      run: |
        npm install
        npm install -g vsce
    - name: Build
      run: |
        npm run vscode:prepublish
        vsce package
    - name: Check
      run: npm run lint
    - name: Test Non-Linux
      if: matrix.os != 'ubuntu-latest'
      run: npm test --silent
    - name: Test Linux
      if: matrix.os == 'ubuntu-latest'
      run: xvfb-run --auto-servernum npm test --silent
    - name: Upload artifact
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: vscode-tlaplus-ci.vsix
        path: ${{ github.workspace }}/vscode-tlaplus-*.vsix
